.table .left,
.table .rigth {
  height: 100vh;
  width: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Poppins";
  background-color: #f4f7ff;
  color: black;
  min-height: 3000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: black;
  margin: 0 3rem;
  font-size: 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: #2e5de8;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid #2e5de8;
  padding-bottom: 0.5rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.container-fluid,
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 55px;
  margin-right: 10px;
  border-radius: 50%;
  height: 55px;
}

a.navbar-brand {
  color: black;
}

/* bg */
.bg {
  margin-top: 200px !important;
  background-color: #ffffff;
  margin: auto;
  padding: 5rem;
  border-radius: 20px;
}

/* tikets start */
.heading {
  margin-bottom: 50px;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.heading .headingtext {
  font-size: 20px;
}

.shorting {
  display: flex;
}

.shorting p {
  color: red;
  font-size: 10px;
  margin: 5px;
}

.shorting img {
  margin-top: -10px;
  width: 50px;
}

.section1 {
  display: flex;
  margin-bottom: 20px;
}
/* tiket end */

/* section1 start */
.emot1purple {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row1 {
  margin-left: 10px;
}

.row1 h3 {
  margin-top: 15px;
}

.operator {
  display: flex;
  margin-top: 25px;
}

.operators {
  border: 1px solid gray;
  padding: 2px 5px;
  border-radius: 5px;
}

.operator p {
  margin: 10px;
}

/* section1 end */

/* shorting */
.section1 .emot1 img {
  width: 45px;
  height: 45px;
}

/* line */
.right .line img {
  width: 100%;
}

/* Total */
.total,
.ticketdetail {
  display: flex;
  justify-content: space-between;
}

.text2 p {
  color: #2e5de8;
}

/* Button */
.checkout button {
  width: 315px;
  height: 55px;
  color: #ffffff;
  font-size: 20px;
  background-color: #2e5de8;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

/* index4 */
/* table */

.payment {
  display: flex;
  align-items: center;
}

.iconswallet {
  padding: 0;
  margin: 15px;
}

.iconsdown {
  margin-left: 150px;
}

.atmcard {
  display: flex;
  align-items: center;
}

.atmcard img {
  margin-left: 1rem;
}

.atmcard2 img {
  margin-left: 0.2rem;
}

.left h1 {
  margin-bottom: 5rem;
  font-size: 20px;
}
/* table end */

/* Right start */

/* FOOTER */
/* TD1 */
.textsocial {
  font-size: 20px;
}
.iconssocial {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.company {
  margin-top: 200px;
  font-size: 20px;
  color: #5a7184;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.wetick {
  margin: 20px 0;
  color: #c1c5d0;
  font-size: 18px;
}

/* Media Queries */
/* Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .footer {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
