/* USER AUTHENTICATION START*/
.table {
  width: 100%;
}

body {
  min-height: 4000px;
  margin: -2px;
  padding: -2px;
}

.tittle {
  text-align: center;
  font-family: "Poppins";
}

.left-table,
.rigth-table {
  height: 100vh;
  width: 60%;
}
.left-table {
  background-color: #3366ff;
  background-image: url(/img/Group\ 12.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-table {
  background-color: white;
}

.input-wrapper {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-wrapper input {
  width: 50%;
  border-radius: 15px;
  height: 40px;
  border: 1px solid rgb(192, 190, 190);
  padding: 0 1rem;
}

.input-wrapper button {
  width: 50%;
  color: white;
  background-color: #3366ff;
  margin-top: 2rem;
  height: 2.5rem;
  border-radius: 15px;
  text-align: center;
  border: 1px solid gray;
}

.left-table,
.rigth-table {
  height: 100vh;
  width: 50%;
}
/* USER AUTHENTICATION  END */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Poppins";
  background-color: #f4f7ff;
  color: black;
  min-height: 3000px;
}

/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: black;
  margin: 0 3rem;
  font-size: 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: #2e5de8;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid #2e5de8;
  padding-bottom: 0.5rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.container-fluid,
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 55px;
  margin-right: 10px;
  border-radius: 50%;
  height: 55px;
}

a.navbar-brand {
  color: black;
}

.button .button1 {
  background-color: white;
  border: none;
  width: 100px;
  height: 40px;
}

.button .button2 {
  background-color: #2e5de8;
  width: 160px;
  height: 40px;
  border: none;
  color: #ffffff;
  border-radius: 10px;
}

/* NAVBAR END */

/* bg */
.bg {
  margin-top: 200px !important;
  background-color: #ffffff;
  margin: auto;
  padding: 140px 120px;
  border-radius: 20px;
  width: 80%;
}

/* tikets start */
.heading {
  margin-bottom: 50px;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.heading .headingtext {
  font-size: 20px;
}

.shorting {
  display: flex;
}

.shorting p {
  color: red;
  font-size: 10px;
  margin: 5px;
}

.shorting img {
  margin-top: -10px;
  width: 50px;
}

.section1 {
  display: flex;
  margin-bottom: 20px;
}
/* tiket end */

/* section1 start */
.emot1purple {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section1 {
  display: flex;
  justify-content: space-between;
}

.row1 {
  margin-left: 10px;
}

.row1 h3 {
  margin-top: 15px;
}

.operator {
  display: flex;
  margin-top: 25px;
}

.operators {
  border: 1px solid gray;
  padding: 2px 5px;
  border-radius: 5px;
}

.operator p {
  margin: 10px;
}

/* section1 end */

/* shorting */
.section1 .emot1 img {
  width: 45px;
  height: 45px;
}

/* line */
.right .line img {
  width: 100%;
}

/* Total */
.total,
.ticketdetail {
  display: flex;
  justify-content: space-between;
}

.text2 p {
  color: #2e5de8;
}

/* Button */
.checkout button {
  width: 315px;
  height: 55px;
  color: #ffffff;
  font-size: 20px;
  background-color: #2e5de8;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

/* PAYMENT START*/
.all-payment {
  display: flex;
  justify-content: space-between;
}
.payment {
  display: flex;
  gap: 30px;
  align-items: center;
}

.iconswallet {
  padding: 0;
  margin: 15px;
}

.atmcard {
  display: flex;
  align-items: center;
  left: 15%;
  position: relative;
}

.left h1 {
  margin-bottom: 5rem;
  font-size: 20px;
}

.left-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconsdown img {
  margin-left: 100px;
}

.ticketdetail {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.ticketdetail1 h4,
.ticketdetail2 h4 {
  margin: 20px 0;
}

.ticketdetail2 {
  text-align: right;
  color: #3366ff;
}
.right-payment {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.border-right {
  border-left: 1px solid gainsboro;
  height: 280px;
  display: flex;
  justify-content: center;
  padding: 1px;
}

.right-payment button {
  width: 100%;
  height: 55px;
  background-color: #3366ff;
  color: #ffffff;
  border-radius: 15px;
}

/* PAYMENT END */

/* FOOTER */
/* TD1 */
.textsocial {
  font-size: 20px;
}
.iconssocial {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.company {
  margin-top: 200px;
  font-size: 20px;
  color: #5a7184;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.wetick {
  margin: 20px 0;
  color: #c1c5d0;
  font-size: 18px;
}

/* FIRST MY BOOKING START */
.profile-name,
.detail-profile {
  margin-top: 200px;
  padding-left: 70px;
}

.info-profile {
  display: flex;
  gap: 25px;
}

.photo-profile {
  width: 55px;
  height: 55px;
  border-radius: 25px;
}

.icon-sidebar {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.name-profile3-blue p {
  color: #3366ff;
}

.name-profile5-blue p {
  color: #3366ff;
}

.name-profile9-blue p {
  color: #3366ff;
}

.name-profile6-blue p {
  color: #3366ff;
}

.icon-sidebar-profile,
.icons-sidebar-booking,
.icons-sidebar-wishlist,
.icons-sidebar-logout,
.icons-sidebar-wishlist-blue,
.icons-sidebar-setting {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-sidebar-wallet-card {
  display: grid;
  left: 20%;
  gap: 20px;
  position: relative;
}

.navigation-side-content {
  display: flex;
}

.name-profile4 p {
  margin-left: 20px;
}

.name-profile8 {
  color: red;
}

.name-profile9-red {
  color: red;
}

/* pembungkus profile */
.bg-profile {
  display: flex;
}

.detail-profile {
  background-color: #ffffff;
  margin-left: 70px;
  width: 1050px;
  height: 825px;
  border-radius: 20px;
  padding-right: 70px;
}

.detail-profile-profile {
  background-color: #ffffff;
  margin-left: 70px;
  width: 1050px;
  height: 1000px;
  border-radius: 20px;
  padding-right: 70px;
}

.padding-detail-profile {
  padding: 50px;
}

.detail-profile-left-profile-heading {
  margin-top: 50px;
}

.detail-profile-left1 {
  display: grid;
  gap: 40px;
}

.detail-profile-left-profile-name {
  display: flex;
}

.input-name {
  border: 1px solid black;
  width: 315px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  padding: 20px;
}

.detail-profile-left-profile-name-input,
.text {
  margin: auto;
}

/* CHANGE PASSWORD START */
.padding-profile {
  padding: 46px 0 366px 50px;
}

.old-password,
.new-password,
.confirm-password {
  margin-top: 60px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.input-old-password input,
.input-new-password input,
.input-confirm-password input {
  margin-left: 200px;
  border: 1px solid black;
  border-radius: 15px;
  height: 55px;
  width: 550px;
  padding-left: 20px;
}

button.button-event {
  background-color: #2e5de8;
  margin-top: 33px;
  width: 100%;
  height: 61px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
}
/* CHANGE PASSWORD end */

/* BOOKING  WITH NAVIGATION CALENDER START */
.menu-event {
  display: flex;
  padding: 33px 50px;
  justify-content: space-between;
}

.icon-calender {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: #eaf1ff;
  padding: 15px;
  border-radius: 10px;
}

.p-calender {
  margin-left: 10px;
  color: #3366ff;
}

.box-kosong {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: center;
  padding: 200px;
}
/* BOOKING  WITH NAVIGATION CALENDER END */

/* BOOOKING START */

.about {
  padding: 5rem;
  background-color: #ffffff;
  margin-top: 200px !important;
  border-radius: 20px;
  width: 80%;
  margin: auto;
}

.about .row {
  display: flex;
}

.about .row .about-img .heart {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.about .row .about-img .vector {
  margin-left: 8rem;
}

.about .row .about-img {
  flex: 1 1 15rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 3rem;
}

.about .row .content .H {
  font-size: 3rem;
}

.about .row .content .bab1 {
  margin: 1rem 0;
}

.about .row .content .bab2 .paragraph {
  margin-bottom: 1rem;
}

.about .row .content .bab3 img {
  width: 100%;
}

.about .row .content .bab4 .paragraph2 {
  margin-top: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.about .row .content .bab4 .link {
  font-size: 1rem;
  color: #2e5de8;
}

.about .row .content .bab5 .h1 {
  margin-top: 2rem;
}

.about .row .content .bab5 .map {
  margin-top: 1rem;
  height: 60%;
  border-radius: 20px;
}

.about .row .content .button {
  width: 305px;
  color: white;
  background-color: #3366ff;
  margin-top: 2rem;
  height: 2.5rem;
  border-radius: 15px;
}
/* BOOKING END */

/* INDEX HOME */
.bg-picture img {
  width: 100%;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

.logo-event {
  background-color: #ffcedb;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
}

.text-event {
  font-size: 36px;
  font-weight: 700;
  margin: 36px;
}

.date-grid {
  display: flex;
  gap: 10px;
}

.date-grid > div div:first-child {
  text-align: center;
}

.date-grid .active {
  border: 1px solid #ff8900;
  color: #ff8900;
  border-radius: 10px;
}

.date-grid > div {
  padding: 10px;
}

.date-grid {
  display: flex;
  justify-content: center;
}

.date-grid .active::after {
  content: "\25CF";
  display: flex;
  justify-content: center;
}

.event-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  margin-top: 30px;
}

.button-event-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-event-box-left,
.button-event-box-right {
  background-color: #f4f7ff;
}

.button-hamburger-menu {
  display: none;
}

.button-hamburger-menu {
  background-color: transparent;
}

.button-hamburger-menu a {
  color: black;
}

/* sampai sini */

.pic-city {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.category {
  margin-top: 80px;
}

.heading-category {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.nav-category a {
  color: black;
  margin: 0 3rem;
  font-size: 1rem;
  display: inline-block;
}

.nav-category a:hover {
  color: #2e5de8;
}

.nav-category a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid #2e5de8;
  padding-bottom: 0.5rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-category a:hover::after {
  transform: scaleX(0.5);
}

.various-category {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.content {
  display: flex;
  justify-content: center;
}

/* sponsor */
.bg-sponsor {
  background-color: rgb(45, 44, 44);
  width: 100%;
  height: 450px;
  margin-top: 50px;
}

.bg-sponsor-img1 img {
  position: absolute;
  padding-top: 30px;
}

.bg-sponsor-img2 img {
  position: absolute;
  padding-top: 340px;
  padding-left: 560px;
}

.bg-sponsor-img3 img {
  position: absolute;
  padding-left: 80%;
}

.partner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 95px 285px;
  gap: 15px;
}

.text-sponsor {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo-sponsor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}
/* PROFILE START */
.detail-profile-padding {
  padding: 50px;
}

.detail-profile-left {
  width: 468px;
}

.personal-profile,
.gender-profile {
  display: flex;
  align-items: center;
}

.heading-profile,
.detail-profile-left {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.personal-profile,
.gender-profile,
.profession-profile,
.nationality-profile,
.username-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.own-profile {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.personal-profile-name-input,
.profession-profile-name-input,
.nationality-profile-name-input {
  width: 315px;
  height: 55px;
  border: 1px solid gray;
  border-radius: 15px;
}

.nationality-profile-name-input,
.profession-profile-name-input,
.personal-profile-name-input {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.nationality-profile,
.profession-profile,
.personal-profile-name {
  display: flex;
  align-items: center;
}

.nationality-profile-name-input button,
.profession-profile-name-input button,
.personal-profile-name-input button {
  background-color: transparent;
  width: 55px;
}

.nationality-profile-name-input input,
.profession-profile-name-input input,
.personal-profile-name-input input {
  padding: 17px 25px;
  width: 100%;
}

.username-profile,
.email-profile,
.phone-profile,
.birthday-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-profile-example a,
.phone-profile-example a,
.username-profile-example a,
.birthday-profile-example a {
  color: #2e5de8;
  margin-left: 15px;
}

.name-profile4 p {
  color: #3366ff;
}

.own-profile .button-edit {
  background-color: #2e5de8;
  width: 315px;
  height: 61px;
  color: #ffffff;
  border-radius: 10px;
}

/* DETAIL PROFILE RIGHT */
.detail-profile-right-padding {
  padding: 80px 0 343px 100px;
}

.detail-profile-padding {
  display: flex;
  justify-content: space-between;
}

.edit-picture-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
}

.change-picture {
  border: 1px solid #3366ff;
  width: 255px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  text-align: center;
}

.text-picture {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
}

/* MEDIA QUERIES START */
/* Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .footer {
    flex-wrap: wrap;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img .vector {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
  }

  /* Mobile Phone */
  @media (max-width: 576px) {
    html {
      font-size: 50%;
    }

    .button-hamburger-menu {
      display: inline-block;
    }

    .navbar-nav,
    .button {
      display: none;
    }

    .logo-sponsor {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      flex: 50%;
      max-width: 50%;
    }
  }
}

/* MEDIA QUERIES END*/
